body {
    background-color: #111111;
}

header {
    background-color: firebrick;
}

#about-section {
    min-height: 8rem;
}

#project-section {
    background-color: #454545;
    min-height: 40%;
}

.project-columns {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1% auto;
}

#project-title {
    text-align: center;
    width: 100%;
    color: firebrick;
}

#more-button {
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid 1px;
    width: 25%;
    margin: 1% auto;
}

.project-columns div {
    border: solid 1px;
    width: 32%;
    min-width: 300px;
    text-align: center;
    /* flex-grow: 1; */
}

footer {
    color: #c8c8c8;
}

#email {
    padding: 4% 2%;
}

/* unvisited link */
a:link {
    color: firebrick;
  }

  /* visited link */
  a:visited {
    color: #c8c8c8;
  }

  /* mouse over link */
  a:hover {
    color: #454545;
  }

  /* selected link */
  a:active {
    color: firebrick;
  }